# Игнорируем настройки IDE
.idea/
.vs/
*.user
*.suo
*.DotSettings
*.sln.DotSettings.user

# Игнорируем билд-артефакты
bin/
obj/
out/
*.dll
*.pdb
*.exe
*.cache
global.json

# Игнорируем результаты тестов
TestResults/
*.trx
*.coverage

# Логи и временные файлы
*.log
*.tmp

